/* #container text-center{
   color: rgb(184, 39, 39);
} 

 .row{
    color: rgb(193, 29, 29);

    
} */
 /* .task-text{
    width: 100%;
 }
 .task-text:disabled{
    border: 1px solid rgb(37, 9, 0);
 } */